<div class="container h-10">
    <div class="row h-10">
        <div class="col-3 h-10">
            <div class="row" style="margin-top: 10%;">
                {% include 'body/nav/left.html' %}
                <hr>
            </div>
        </div>
        <div class="col-8 h-10">
            <div class="row">
                {% include 'body/nav/middle.html' %}
            </div>
        </div>
        <div class="col-1 h-10">
            <div class="row" style="margin-top: 10%;">
                {% include 'body/nav/right.html' %}
            </div>         
        </div>
    </div>
</div>
