<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    {% include 'head.html' %}
    
</head>
<body id="abcms" class="fade-me-in fade-me-out">
    <div id="div_header" class="font-monospace">
        {% include 'body/navigation.html' %}
    </div>
    <div id="divcontent" class="box fade-me-in fade-me-out">
        {% include 'body/content.html' %}
    </div>
    <div id="div_footer" class="font-monospace" style="margin-top: 160px; padding-bottom: 80px;">
        {% include 'body/footer.html' %}
    </div>
</body>
</html>
